@import '../style/variables.scss';

.Table__Container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  margin: auto;
}

.Table__Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  min-width: 100px;
  height: 50px;
  border: solid 0.2px black;

  input {
    max-width: 80px;
    height: 24px;
    border: 1px solid;
    border-color: transparent;
    background-color: transparent;
  }

  input:focus-visible {
    background-color: white;
    border: solid 1px $navy2;
    outline: none;
  }

  input:hover {
    background-color: white;
    border: solid 1px $navy2;
    outline: none;
  }
}

.Table__Header__Cell {
  background-color: $navy1;
}

.Table__Cell__Empty-Header {
  background-color: lightgray;
}
